/* import fonts  */
/* for Merriweather google font */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* for Inter google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

/* common styles */

* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

.section-container {
  max-width: 1600px;
}

/* banner or header section style start */

.banner-container {
  width: 82.5%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-top: 177px;
  margin-bottom: 16px;
}
.banner-heading {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 177px;
  line-height: 95px;
  max-width: 47%;
}

/* banner or header section style end */

/* main section style start here */

/* happy new year section style start */

.happy-new-year-container {
  width: 50.1%;
  margin: 0 auto;
  margin-top: 120px;
  border: 1px solid white;
  text-align: center;
}

.discount-title {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}

.discount-text {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}

.category-title {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.happy-new-year-image img {
  width: 100%;
}

/* happy new year section style end */

/* mid night party section style start */
.midnight-party-container {
  width: 82.5%;
  border: 0.5px solid black;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  background-image: url("../images/celebration.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
}

.party-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.party-info {
  padding-left: 126px;
}

.party-text {
  color: #ffffffcc;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 38px;
}

.party-image {
  padding-right: 136px;
  padding-top: 68px;
  padding-bottom: 67px;
}

.party-image img {
  max-width: 300px;
}

.party-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
