/* import fonts  */
/* for Merriweather google font */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* for Inter google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

/* common styles */

* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

.section-container {
  max-width: 1600px;
}

/* banner or header section style start */

.banner-container {
  width: 82.5%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-top: 177px;
  margin-bottom: 16px;
}
.banner-heading {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 177px;
  line-height: 95px;
  max-width: 47%;
}

/* banner or header section style end */

/* main section style start here */

/* happy new year section style start */

.happy-new-year-container {
  width: 50.1%;
  margin: 0 auto;
  margin-top: 120px;
  border: 1px solid white;
  text-align: center;
}

.discount-title {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}

.discount-text {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}

.category-title {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.happy-new-year-image img {
  width: 100%;
}

/* happy new year section style end */

/* mid night party section style start */
.midnight-party-container {
  width: 82.5%;
  border: 0.5px solid black;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  background-image: url("../images/celebration.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
}

.party-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.party-info {
  padding-left: 126px;
}

.party-text {
  color: #ffffffcc;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 38px;
}

.party-image {
  padding-right: 136px;
  padding-top: 68px;
  padding-bottom: 67px;
}

.party-image img {
  max-width: 300px;
}

.party-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/* party section style end */

/* location section style start */

.location-container {
  width: 82.5%;
  margin: 0 auto;
  text-align: center;
  border: 0.2px solid rgba(255, 0, 0, 0.1);
  margin-top: 120px;
  border-radius: 8px;
  padding-bottom: 110px;
  padding-top: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.location-text {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.location-text span {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.location-btn {
  padding: 16px 32px;
  text-transform: capitalize;
  background: #ff0000;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 48px;
}
.location-btn:hover {
  box-shadow: 10px 10px 20px #e34a4ade;
  transition: all 0.8s;
}

/* location style end */

/* best-offer section style start */

.best-offer-container {
  width: 82.5%;
  margin: 0 auto;
  margin-top: 120px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-offer-info {
  width: 393px;
}
.best-offer-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.best-offer-image {
  border: 16px solid #ff0000;
  border-radius: 50%;
  padding: 49px;
}
.best-offer-image img:hover {
  transform: scale(1.28);
  transition: 1.5s;
}

.best-offer-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 22px;
}

.best-offer-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.best-offer-image {
  margin-left: 27px;
  margin-right: 90px;
}

.best-offer-image img {
  width: 364px;
}

.best-offer-year {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 50px;
}

.best-offer-calendar {
  width: 200px;
}
.best-offer-text-right {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 43px;
  margin-top: 16px;
  width: 200px;
}

.best-offer-newyear img {
  width: 140px;
  height: 140px;
}
/* best-offer section style end */

/* gifts section style start */

.gifts-container {
  width: 82.5%;
  margin: 0 auto;
  margin-top: 120px;
}

.gifts-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.gifts-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 22px;
}

.gifts-text {
  color: #07021199;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
  width: 896px;
}

.gift-images {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.gift-image img {
  width: 100%;
}
.gift-image img:hover {
  transform: scale(1.1);
  transition: 1.2s;
}

/* gifts section style start */

/* news-letter section style */

.newsletter-container {
  width: 82.5%;
  margin: 0 auto;
  border-radius: 16px;
  background: #ff00000d;
  margin-top: 120px;
  text-align: center;
}
.news-image {
  padding-top: 80px;
}
.news-image img {
  width: 150px;
  height: 150px;
}

.news-heading {
  margin-top: 40px;
  margin-bottom: 22px;
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.news-text {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}
.news-form {
  padding-bottom: 80px;
}
.input-email {
  width: 40%;
  padding: 25px 30px;
  outline: none;
  border: none;
  border-radius: 50px 0 0 50px;
}
.input-btn {
  width: 25%;
  padding: 25px 30px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: -5px;
}
/* news-letter section style */

/* footer section style start */
.footer {
  max-width: 1600px;
  margin-top: 120px;
  background-color: #070211;
}
.footer-container {
  margin: 0 auto;
  width: 82.5%;
  padding-top: 120px;
  padding-bottom: 120px;
}
.upper-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.contact,
.website {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.social-part {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 48px 0px;
}

.left,
.right p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
hr {
  border: 1px solid #ffffff26;
}
.lower-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lower-part p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 50px;
}

.website p a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}
.website p a:visited {
  color: #fff;
}

/* footer section style end */
